#imageContainer
{
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#status {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
}

#timestamp {
    font-size: 1.5em;
    padding: 2px;
    width: 100%;
    text-align: right;
}

#SPO2, #BPM {
    font-size: 3em;
    width: 5em;
    text-align: right;
}

#SPO2 {
    color: red;
}

#BPM {
    color: #448844;
}

#alarmBanner {
    font-size: 3em;
    color: red;
    background-color: rgba(255, 255, 255, 0.2);
}

#config {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
